.container {
    border: 1px solid #b3b3b3;
}

.dropdown-fix {
    display: inline-block;
}

.tool-icon {
    width: 38px;
    height: 38px;
    display: inline-block;
    line-height: 38px;
    text-align: center;
}

.tool-icon a {
    color: #222222;
}

.tool-icon:hover {
    background: #eeeeee;
}

.btn-fix {
    background: #fff;
    background: transparent;
    color: #222;
    border: none;
}

.tools {
    display: inline-block;
    border-right: 1px solid #ebebeb;
    padding: 0 5px 0 0;
}

#editor-doc {
    min-height: 150px;
    /* border: 1px solid rgb(0, 0, 0); */
    border-top: 1px solid #ebebeb;
    border-radius: 5px;
}












/* //////////////// */

.menubar-item {
    border-color: transparent;
    background: transparent;
    filter: none;
    display: inline-block;
    margin: 2px 0 2px 2px;
    position: relative;
}


.btn-grp {
    border: 2px solid #efefef;
    display: inline-block;
}

.dropdown-menu {
    border-radius: 0px;
    position: absolute;
    top: 94.1%;
    padding: 0px;
    background-color: #f9f9f9;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#align a:hover{
    background: #aeb0b2;
}

.dropbtn {
    padding: 10px;

    background-color: transparent;
    color: black;

    font-size: 16px;
    border: 1px solid transparent;
}

.dropdown-cont {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-cont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.abcd {
    display: none;
}

.dropdown:hover .abcd {
    display: block;
}

.dropdown:hover .dropbtn {
    border: 1px solid silver;
    background-color: white;
}

hr{
    border-top: 1px solid #000;
    width: 98%;
}